<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Eczane Bilgi Sistemi</li>
                <li>
                    <a class="waves-effect" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home"></i>
                        <span>Ana Sayfa</span>
                    </a>
                </li>
                <li>
                    <a class="waves-effect" asp-controller="Eczaneler" asp-action="Index">
                        <i class="fa-solid fa-e"></i>

                        <span>Ezcaneler</span>
                    </a>
                </li>
                <li>
                    <a class="waves-effect" asp-controller="OptimumMesafe" asp-action="Index">
                        <i class="fas fa-map-pin"></i>
                        <span>Optimum Mesafe</span>
                    </a>
                </li>
                <li>
                    <a class="waves-effect" asp-controller="MazeretBilgileri" asp-action="Index">
                        <i class="fa-solid fa-user-doctor"></i>
                        <span>Mazeret Bilgileri</span>
                    </a>
                </li>
                <li>
                    <a class="waves-effect" asp-controller="ResmiTatiller" asp-action="Index">
                        <i class="fa-solid fa-calendar-days"></i>
                        <span>Resmi Tatiller</span>
                    </a>
                </li>
                <li>
                    <a class="waves-effect" asp-controller="NobetAdetleri" asp-action="Index">
                        <i class="fa-solid fa-calculator"></i>
                        <span>Nöbet Adetleri</span>
                    </a>
                </li>
                <li>
                    <a class="waves-effect" asp-controller="GecmisNobetler" asp-action="Index">
                        <i class="fa-solid fa-calendar-days"></i>
                        <span>Geçmiş Nöbetler</span>
                    </a>
                </li>
                <li>
                    <a class="waves-effect" asp-controller="NobetHazirla" asp-action="Index">
                        <i class="fa-solid fa-marker"></i>
                        <span>Nöbet Hazırla</span>
                    </a>
                </li>
                <li>
                    <a class="waves-effect" asp-controller="Ayarlar" asp-action="Index">
                        <i class="fa-solid fa-gears"></i>
                        <span>Ayarlar</span>
                    </a>
                </li>
 
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>